.login-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    width: 100vw;
}

.login-form{
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    display:flex;
    flex-direction: column;
    align-items: start;
    max-width: 50vw;
    height: 17.5em;
    font-weight: bold;
    font-size: 1.1em;
}

.create-user-form{
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    display:flex;
    flex-direction: column;
    align-items: start;
    max-width: 50vw;
    height: 36em;
    font-weight: bold;
    font-size: 1.1em;
}

.form-label{
    padding:0.5em;
    border-radius: 0.5em;
    border: 1px solid #9bcdff;
    background-color: white;
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #000;
}

.form-submit-button{
    border-radius: 0.5em;
    border: 1px solid #9bcdff;
    padding: 0.25em;
    background-color: #9bcdff;
    width: 100%;
}

hr{
    height: 2px;
    background-color: #9bcdff;
    width: 100%;
}