.page-title{
    margin-left: 0.7em;
}

.product-image {
    width: 100px;
    height: 150px;
    margin: 0;
    padding: 0;
}

.product-card{
    width: 375px;
    height: 200px;
    border: 1px solid gray
}

.card-img{
    margin: 0;
    padding: 10px;
    width: 150px;
    height: 150px;
}

.product-image-container{
    border-right: 1px solid #000;
}

.card-info{
    background-color: #071108;
    color: white;
    padding: 10px;
    white-space: normal;
    overflow-wrap: anywhere;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    width: 225px
}

.btn-add{
    margin-left: 10px
}

.btn-sub{
    margin-right: 10px
}

.quantity{
    display: flex;
    align-items: center;
}

.quantity-info{
    margin-bottom: 0;
}