.product-card-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Adjust column width */
    gap: 20px; /* Adjust spacing between cards */
    justify-items: center; /* Center items horizontally */
    width: 90%
  }

.product-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag-container{
    width: 95%;
    margin-left: 1em;
}

@media (max-width: 750px) {
    .product-card-container {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* 1 item per line on small screens */
    }
  }
  
  @media (min-width: 870px) and (max-width: 1250px) {
    .product-card-container {
      grid-template-columns: repeat(auto-fill, minmax(48.5%, 1fr)); /* Adjust column width for medium screens */
    }
  }
  
  @media (min-width: 1251px) and (max-width: 1475px) {
    .product-card-container {
      grid-template-columns: repeat(auto-fill, minmax(32%, 1fr)); /* Adjust column width for medium screens */
    }
  }

  @media (min-width: 1450px) and (max-width: 1825px){
    .product-card-container {
        grid-template-columns: repeat(auto-fill, minmax(24%, 1fr)); /* Adjust column width */
    }
  }