*{
    margin:0;
    padding: 0;
    font-family: "Quicksand";
}

.navbar-container {
    position: relative;
    margin-bottom: 2em;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #9bcdff;
  }

  a{
    text-decoration: none;
    color: black
  }
  
  .left, .right {
    display: flex;
    align-items: center;
  }
  
  .left h1, .left h2, .right h2 {
    margin: 0 1rem;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .dropdown-nav-menu {
    position: fixed;
    left: 0;
    top: 56px;
    width: 100vw;
    color: black;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white; 
  }

@media (max-width: 600px) {
  .left, .right {
    display: none;
  }

  .navbar{
      display:flex;
      justify-content: center;
  }

  .menu-icon {
    display: block;
  }
}